<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Elayne Natália de Oliveira Argollo</mat-card-title>
    <mat-card-subtitle>Programadora Full Stack em desenvolvimento</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/elayne.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Estudante de análise e Desenvolvimento de Sistemas na IFBA, Elayne, de 29 anos
      é apaixonada por tecnologia e movida a desafios.
    </p>
  </mat-card-content>
  </mat-card>
