<mat-card>
    <mat-card-title>Novo Produto </mat-card-title>
    <form #productForm = 'ngForm'>
        <mat-form-field>
            <input matInput 
            placeholder="Nome" 
            required
            name='name' 
            [(ngModel)]='product.name'>
        </mat-form-field>
        <mat-form-field>
            <input matInput 
            placeholder="Preço (R$)" 
            [(ngModel)]='product.price' 
            name='price' 
            required>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button [disabled]='!productForm.form.valid' (click)="createProduct()" color="primary">
    Salvar
</button> 

<button mat-raised-button (click)="cancelProduct()">
    Cancelar
</button> 
