<mat-card class='home mat-elevationZ3   '>
    <mat-card-title class='title'>Informação</mat-card-title>
    <mat-card-subtitle class='subtitle'>
        <a mat-list-item href='https://github.com/elayneargollo'> 
            <i class="material-icons">
                done
            </i>
            GitHub : elayneargollo
        </a>
        <a mat-list-item> 
            <i class="material-icons">
                done
            </i>
            Email : elayne.natalia@ifba.edu.br
        </a>
        <a mat-list-item href='https://www.linkedin.com/in/elayne-nat%C3%A1lia/'> 
            <i class="material-icons">
                done
            </i>
            Linkedlin : @elayneNatalia
        </a>
    </mat-card-subtitle>
</mat-card>